// CSS File for Styling

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    padding-top: 15vh;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    color: black;
}
